/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	//  list-style: none;
  //  padding-left: 0;
    padding-left: 32px;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
}

:root{
  /* ================ color ================ */
	--color-primary: #007BA7;
  --color-primary-light: #AFEEEE;
	--color-primary-bright: #00CED1;
	--color-primary-dark: #2F4F4F;

  --color-primary2: #004D99;
  --color-primary2-light: #87CEFA;
	--color-primary2-bright: #007FFF;
	--color-primary2-dark: #003153;

	--color-secondary: #FFBF00;
	--color-secondary-light: #FFEF00;
  --color-secondary-dark: #704214;

  --color-gary: #5f7791;
  --color-gray90: #202830;	
  --color-gray80: #303c49;	
  --color-gray70: #3f4f61;	
  --color-gray60: #4f6379;	
  --color-gray50: #5f7791;	
  --color-gray40: #7a8ea3;	
  --color-gray30: #94a4b6;	
  --color-gray20: #afbbc8;	
  --color-gray10: #e4e8ed;	
  --color-gray05: #e4e8ed;	

	--color-bg-dark: var(--color-gray90);
	--color-container-dark: var(--color-gray70);

  --color-bg-light: #F5F5DC;
  --color-container-light: #264c58;


	--color-text: #004D99;
  --color-link: #00CED1;
	--color-border: #5E86C1;

	--color-warning: #FF80BF;
  --color-warning-light: #FF007F;
  --color-warning-dark: #C41E3A;

  --color-temp: #666666;
  /* ================ frame ================ */

  --radius: 8px;

  --button-size: 32px;
  --button-radius: 8px;
  --button-font-size: 8px;

  --grid-size:60px;
  --grid-radius:8px;

  /* ================ text ================ */
  --font-size-h1: 36px;
  --font-size-h2: 20px;
  --font-size-h3: 14px;
  --font-size-body: 12px;
  --font-size-small: 12px;


}



// ================ main ================ //

* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;

  background: var(--color-bg-dark);
}

.wrap{ //border: 1px solid var(--color-temp);
	max-width: 50vh;
  height: 100vh;
	margin: 0 auto;
  padding: 2vh;
  overflow: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
}


// ================ header ================ //
.header{ //border: 1px solid var(--color-temp);
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
	margin: 0 auto;
  margin-bottom:  2vh;

  background: var(--color-container-dark);  
  border-radius: var(--radius);

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  align-items: center;
  
  .logo {//border: 1px solid var(--color-temp);
    width: 4vh;
    height: 4vh;
    margin: 2vh;
    
    img {
      width: 100%;
      height: auto;
    }
  }

  .levelNum{
    font-size: 4vh;
    font-weight: bold;
    line-height: 1.5;
    color: var(--color-gray20);
    text-align: center;
  }

	.menu{ color: var(--color-gray40);//border: 1px solid var(--color-temp);
	  width: 4vh;
		height: 4vh;
    margin: 2vh;
	}
  
}



// ================ content ================ //

.panel{
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
	margin: 0 auto;
  padding: 4vh;
  
  position: relative;
  display: flex;
  flex-direction: column;

  background: var(--color-container-dark);
  border-radius: var(--radius);

}



/* ================ panel UI ================ */

.board {
  display: grid;
  justify-content: center;                // ✅ 水平置中 grid 區塊
  margin: 0 auto;
  //grid-template-columns: repeat(3, var(--grid-size)); // 依據你的 rows/cols 調整
  //gap: 10px;
  //margin: 20px auto;
  

  //display: flex;
  //gap: 10px;
  //margin-bottom: 20px;
}

.grid-board {
  display: grid;
  //margin-bottom: 8vh;
}

.fixed-tile {
  cursor: not-allowed;
  //opacity: 0.8;
}

.cell {
  box-sizing: border-box;
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);

  border-radius: var(--grid-radius);
  border: 1px solid var(--color-gray70);

  display: flex;
  align-items: center;
  justify-content: center;


  background: var(--color-gray90);
  //&.initial{
  //  background: var(--color-gray60);
  //}
  &.fixed::after {
    content: "🔒";
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
    opacity: 0.5;
  }
}

.hidden-cell {
  background-color: var(--color-container-dark);
  pointer-events: none; /* 無法拖曳進入 */
}


.start-area {
  display: flex;
  justify-content: center;   // 水平置中
  flex-wrap: wrap;           // 超出寬度會自動換行（避免擠在一起）
  margin: 0 auto;         // 水平外距 auto 也能幫助整體置中
}

.tile {
  width: var(--grid-size);
  height: var(--grid-size);
  border-radius: var(--grid-radius);
  cursor: grab;
  //border: 2px solid transparent;
  &.selected {
    outline: 3px solid #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  }
}



.gap-line {
  height: 2px;
  margin: 4vh 0;

  background: var(--color-gray60);
}

.gap-space {
  width: 100%;
  flex-grow: 1;
}

.info-bar {
  margin-top: 2vh;
  margin-bottom: -1vh;
  padding: 1vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;

  border-radius: var(--radius);
  background: var(--color-gray80);

  font-size: 1.5vh;
  color: var(--color-gray20);
}

#step-count {
  display: inline-block;
  width: 30px;           /* 依據你預期的最大時間調整 */
  text-align: right;     /* 數字靠右對齊，避免跳動 */
  font-family: monospace;
}

#timer{
  display: inline-block;
  width: 60px;           /* 依據你預期的最大時間調整 */
  text-align: right;     /* 數字靠右對齊，避免跳動 */
  font-family: monospace;
}


/* ================ popup ================ */
.popup {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &.hidden {
  display: none;
  }
}

.popup-content {
  padding: 4vh;
  border-radius: var(--radius);

  background: var(--color-gray70);

  text-align: center;
  line-height: 1;


  h3 {
    color: var(--color-gray10);
    font-size: 3vh;
  }

  &.pass-record {
    height: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: var(--color-gray30);
    font-size: 1.5vh; 
  }

  button {
    padding: 1vh 3vh;
    margin: 0 1vh;

    border: 0px solid transparent;
    border-radius: var(--radius);
    background: var(--color-gray10);

    font-size: 2vh;
    color: var(--color-gray90);
  }
}





// ================ footer ================ //
.footer{
  box-sizing: border-box;
  width: 100%;
  height: 4vh;
  margin-top: 2vh;
  padding: 1vh 2vh;
  
	background-color: var(--color-container-dark);
  border-radius: var(--radius);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

	p{
		font-size: 12px;
		color: var(--color-gray40);
		text-align: center;
	}

}

// ================ RWD ================ //

@media(max-width: 600px) {

}